body {
	background-image: url("images/bg.gif");
	padding: 0px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
}

.container {
	width: 1024px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding: 0px 0px 0px 0px;
}



/*Main Blocks*/
.blockApresentation {
	height:600px;
	width:1024px;
	margin: 0 auto;
/*	padding-right: 70px;*/
	position:relative;
	float:left;
	
}
.blockTitle {
	width: 1024px;
	margin: 1px auto;
	margin-top: 100px;
	position: relative;
	float: left;
}
.blockBlog {
	width:1024px;
	margin: 0 auto;
	position:relative;
	float:left;
	min-height: 100px;
}

.blockTrabalhos {
	width:1024px;
	margin: 0 auto;
	padding-top:40px;
	position:relative;
	float:left;
	min-height: 100px;
}

.blockContato {
	width:1024px;
	margin: 0 auto;
	position:relative;
	float:left;
	min-height: 100px;
}


.blockRodape {
	width:1024px;
	margin: 100px auto 0 auto;
	position:relative;
	float:left;
	min-height: 100px;
	background-color: #272727;
}


/*Subdivison Main*/
.sideLeft {
	width: 528px;
	position:relative;
	float:left;	
	right: -70px;
	z-index:1;
}

.sideRight {
	width: 496px;
	height: 600px;
	position: relative;
	float: left;
/*	z-index: -10;*/
}

/*Subdivision sideLeft*/
.rowButtons {
	position:relative;
	height: 126px;
	width: 641px;
}
.rowLogo {
	width: 641px;
	position:relative;
	margin-top: 102px;
	
}
.rowSocialButtons {
	position:relative;
}

/*Main Buttons*/
.btnBlog {
	text-align:center;
	width:79px;
	position:relative;
	float:left;
	padding-left:50px;
	text-decoration: none;
	color: #272727;
}
.btnBlog div{
	font-family: 'Indie Flower', cursive;
	font-size:32px;
	margin-top: 0px;
	padding-top:0px;
	position: relative;
	top: -10px;
}
.btnBlog img{
	margin-top: 3px;
	position: relative;
}


.btnJobs {
	margin-left:40px;
	text-align:center;
	width:132px;
	position:relative;
	float:left;
	text-decoration: none;
	color: #272727;
}
.btnJobs div{
	font-family: 'Indie Flower', cursive;
	font-size:32px;
	margin-top: 0px;
	padding-top:0px;
	position: relative;
	top: -8px;
}

.btnContact {
	margin-left:40px;
	text-align:center;
	width:132px;
	position:relative;
	float:left;
	text-decoration: none;
	color: #272727;
	
}
.btnContact div{
	font-family: 'Indie Flower', cursive;
	font-size:32px;
	margin-top: 0px;
	padding-top:0px;
	position: relative;
	top: -8px;
}

.btnContact img{
	margin-top: 9px;
	position: relative;
}





/* LOGO */
.logo_black_part {
	position: relative;
	font-family: 'Exo', sans-serif;
	font-size: 74px;
	color: white;
	background-color: #222;
	width: 633px;
	height: 70px;
	padding-left: 11px;
	padding-top: 5px;
}
.logo_black_part span{
	position: relative;
	top: -15px;
}

.logo_blue_part {
	position:relative;
	font-family: 'Indie Flower', cursive;
	font-size: 36px;
	color: #FFFFFF;
/*	background: url("images/logo_bg_blue.png") no-repeat;*/
	background-color:#00AFF0;
	width: 712px;
	height: 50px;
}
.logo_blue_part span{
	position: relative;
	top: 2px;
	padding-left:5px;
}


/* Social Buttons */
.btn_facebook {
	position:relative;
	float:left;
	width:200px;
	margin-top:120px;
	padding-left:97px;
}

.btn_twitter {
	position:relative;
	float:left;
	width:200px;
	margin-top:120px;
}

/* Lamp */
.luz_lampada {
	top: -499px;
	position: relative;
	z-index: -1;
	left: 93px;
	display: none;
}

/* Title */
.title {
	height: 126px;
	font-size: 89px;
	color: white;
	margin-left: 114px;
	margin-right: 114px;
	
}
.title_bg {
	background: url("images/bd_titulo_stripped.png") repeat-x;
	width: 100%;
	height: 126px;
	position:absolute;
	z-index: 1;
/*	left:-50%;*/
	
}
.title_shadow {
	background: url("images/sombra_divisora.jpg");
	width: 100%;
	height: 341px;
	position:absolute;
	top: -214px;
	z-index: -1;
}

.title_text{
	font-family: 'Exo', sans-serif;
/*	font-weight: bold;*/
	z-index: 2;
	top: -7px;
	position: relative;
	padding: 0 10px;
	
}
.title_text_bg {
	background-color: #222;
	position: relative;
	float: left;
	z-index: 2;
	margin-top: 12px;
	height: 103px;
}

/*.sombraTitulo {
	background: url("images/sombra_divisora.png");
	width: 1024px;
	height: 341px;
}*/
.legenda_titulo {
	position: relative;
	float: left;
	background-color: #00AFF0;
	padding-left: 30px;
	padding-bottom: 3px;
	color: white;
	font-family: "Indie Flower";
	font-size: 27px;
	text-shadow: 1px 1px #333;
	height: 34px;
	width: 241px;
	top: 69px;
	left: -7px;
	z-index: 1;
	-moz-box-shadow: 0.0em 0.0em 1.9em #999;
	-webkit-box-shadow: 0.0em 0.0em 1.9em #999;
	box-shadow: 0.0em 0.0em 1.9em #999;
}
.topo {
	font-family: 'Exo', sans-serif;
	z-index: 2;
	position: relative;
	float: right;
	right: 130px;
	bottom: -74px;
}

/* Blog */
.btn_navegacao {
	position:relative;
	height:100%;
	float:left;
	padding: 1px;
	margin-top:120px;
}
.postBlog {
	position:relative;
	float:left;
}
.post_titulo {
	width: 803px;
	font-family: 'Open Sans';
	font-size: 60px;
	margin-top: 40px;
	margin-bottom: 20px;
	line-height: 53px;
}
.post_titulo span{
	font-size:24px;
	margin-left: 4px;
	font-family: 'Indie Flower';
	color:#000;
	line-height: 0px;
}
.post_texto {
	width: 803px;
	font-family: 'Open Sans';
	font-size:16px;
	margin-bottom:99px;
}



/* Works */
.pictureWorks {
	width: 259px;
	height: 203px;
	padding: 10px;
	position: relative;
	float: left;
	margin: 31px 31px;
	background-color: #222;
	box-shadow: 0px 0px 1px #999;
}
.picture_shadow_bg {
/*	background: url("images/galeria_sombra.jpg") repeat-x;*/
	height: 340px;
	position: absolute;
	top: 2px;
}

/* Contact */
.contact_form {
	background: url("images/contato_bg.jpg") no-repeat;
	width: 837px;
	height: 470px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -9px;
}
.contact_description {
	font-family: 'Exo', sans-serif;
	font-size:24px;
	width: 791px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 61px;
	margin-bottom: 0px;
	padding-left: 2px;;
}
.contact_div_top {
	padding-left: 69px;
	position: relative;
	float: left;
	padding-top: 71px;
}
.contact_div_middle {
	padding-top: 27px;
	padding-left: 69px;
	position: relative;
	float: left;
}
.selo_div {
	width:540px;
	position:relative;
	float:left;
}
.btn_enviar_div {
	position:relative;
	float:left;
	margin-top:11px;
}
.contact_div_fields_left {
	position:relative;
	float:left;
	width:322px;
}
.contact_div_fields_right {
	position:relative;
	float:left;
	width:400px;
}

.contact_form label {
	font-family: 'Indie Flower', cursive;
	font-size: 24px;
	top: 9px;
	position: relative;
}

.contact_form input {
	font-family: 'Exo', cursive;
	font-size:28px;
	width:300px;
	border: 1px solid #999999;
}

.contact_form textarea {
	font-family: 'Exo', cursive;
	font-size:20px;
	width:365px;
	height:197px;
	border: 1px solid #999999;
}

.tooltip-contact {
	font-size: 16px;
}
