<% content_for :post do %>
<div class="post_titulo"><span><%= @post.date.strftime("%d/%m/%Y") %></span><br/><%=@post.title %></div>
<div class="post_texto">
  <%= raw(@post.content) %>
</div>
<% end %>
